.chat-view {
  height: 100%;
  width: 35%;
  background-color: white;
}

.chat-box {
  height: 90%;
  width: 100%;
  background-color: aliceblue;
  color: black;
  display: flex;
  flex-direction: column;
}

.msg-box {
    height: ;
  display: flex;
  justify-content: end;
}

.chat-box p {
  display: inline;
  background-color: darkseagreen;
  height: auto;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
}
.input-box {
  height: 7%;
  width: 100%;
  display: flex;
}

.input-box input {
  height: 100%;
  width: 90%;
}

.input-box button {
  height: 100%;
  width: 10%;
}
