.main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.chat-view {
  height: 100%;
  width: 30%;
  background-color: white;
  margin-right: 10px;
}

.chat-box {
  height: 90%;
  width: 100%;
  background-color: aliceblue;
  color: black;
  display: flex;
  flex-direction: column;
}

.msg-box {
  height: auto;
  /* width: 100%; */
  /* margin: 20px 10px; */
  display: flex;

  /* background-color: aquamarine; */
}

.right {
  justify-content: end;
}

.left {
  justify-content: start;
}

.

.msg-box span {
  margin: 10px 15px;
  height: min-content;
  width: max-content;
  padding: 10px;
  border-radius: 10px;
  background-color: darkseagreen;
}
.input-box {
  height: 7%;
  width: 100%;
  display: flex;
}

.input-box input {
  height: 100%;
  width: 90%;
}

.input-box button {
  height: 100%;
  width: 10%;
}
